// Темный режим

$cInterface: rgba(108, 93, 211, 1);
$cTheme: rgba(31, 33, 40, 1);
$cItemBackground: rgba(36, 39, 49, 1);
$cAlert: rgba(255, 117, 76, 1);
$cButtons: rgba(55, 58, 67, 1);
$cBlue: rgba(63, 141, 255, 1);
$cText: white;

// Шрифт

$Roboto: "Roboto Condensed", sans-serif;
