.games-page__container {
  .games-page__list {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(3, 4fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(2, 6fr);
    }
    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(1, 12fr);
    }
  }
}

.padding {
  padding: 80px 40px;
  @media screen and (max-width: 800px) {
    padding: 50px 10px;
  }
}
